<div class="container-fluid">
  
  <div *ngIf="!loading" class="row">
    <div class="col-sm-3">
      <div class="card mt-4">
        <div class="card-header pb-0">
          <h5>إجمالي اللاعبين <i class="fa fa-users"></i></h5>
        </div>
        <div class="card-body d-flex justify-content-between">
          <div class="count">
            <h2>650</h2>
            <h6 class="font-success"><i class="icon-arrow-up"></i><span>5%</span></h6>
          </div>
          <div class="chart">
            <img src="assets/images/charts/1.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mt-4">
        <div class="card-header pb-0">
          <h5>اللاعبين النشطين <i class="fa fa-user-circle"></i></h5>
        </div>
        <div class="card-body d-flex justify-content-between">
          <div class="count">
            <h2>500</h2>
            <h6 class="font-success"><i class="icon-arrow-up"></i><span>5%</span></h6>
          </div>
          <div class="chart">
            <img src="assets/images/charts/2.png" alt="">
          </div>
        </div> 
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mt-4">
        <div class="card-header pb-0">
          <h5>لاعبين بدون دفع<i class="fa fa-user-times "></i></h5>
        </div>
        <div class="card-body d-flex justify-content-between">
          <div class="count">
            <h2>150</h2>
            <h6 class="font-danger"><i class="icon-arrow-down"></i><span>55%</span></h6>
          </div>
          <div class="chart">
            <img src="assets/images/charts/3.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mt-4">
        <div class="card-header pb-0">
          <h5> مقاعد شاغرة <i class="fa fa-user-plus"></i></h5>
        </div>
        <div class="card-body d-flex justify-content-between">
          <div class="count">
            <h2>15</h2>
            <h6 class="font-success"><i class="icon-arrow-up"></i><span>12%</span></h6>
          </div>
          <div class="chart">
            <img src="assets/images/charts/4.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!loading" class="row">
    <div class="col-sm-9">
      <div class="card">
        <div class="card-header pb-0">
          <h5>حضور اللاعبين</h5>
        </div>
        <div class="card-body">
          <p-chart type="bar" [data]="data" [options]="options" />
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header pb-0">
          <h5> إجمالي المدربين <i class="fa fa-address-book"></i></h5>
        </div>
        <div class="card-body d-flex justify-content-between">
          <div class="count">
            <h2>{{ coaches.length }}</h2>
            <h6 class="font-warning"><i class="fa fa-arrows-h"></i><span>0%</span></h6>
          </div>
          <div class="chart">
            <img src="assets/images/charts/3.png" alt="">
          </div>
        </div> 
      </div>
      <div class="card">
        <div class="card-header pb-0">
          <h5>  الأنشطة الرياضية <i class="fa fa-server"></i></h5>
        </div>
        <div class="card-body d-flex justify-content-between">
          <div class="count">
            <h2>{{ classes.length }}</h2>
            <h6 class="font-success"><i class="icon-arrow-up"></i><span>10%</span></h6>
          </div>
          <div class="chart">
            <img src="assets/images/charts/2.png" alt="">
          </div>
        </div> 
      </div>
      <div class="card">
        <div class="card-header pb-0">
          <h5> الحصص التدريبية <i class="fa fa-server"></i></h5>
        </div>
        <div class="card-body d-flex justify-content-between">
          <div class="count">
            <h2>{{ sessions.length }}</h2>
            <h6 class="font-success"><i class="icon-arrow-up"></i><span>10%</span></h6>
          </div>
          <div class="chart">
            <img src="assets/images/charts/2.png" alt="">
          </div>
        </div> 
      </div>
    </div>
  </div>

  <div *ngIf="loading" class="d-flex justify-content-center">
    <img width="50px" src="assets/images/login/submit_loading.gif" alt="">
  </div>
</div>