<div class="container-fluid">
  <div class="row ">
    <div class="col-sm-12">
      <div class="card mt-4">
        <div class="card-header pb-0">
          <h5 style="font-weight: bold;">إضافة نشاط رياضي</h5>
        </div>
        <div class="card-body">
          <div *ngIf="loading" class="d-flex justify-content-center">
            <img width="50px" src="assets/images/login/submit_loading.gif" alt="">
          </div>
          <div *ngIf="!loading" class="d-flex justify-content-end">
            <a [routerLink]="['/classes']" class="btn btn-primary">قائمة الأنشطة الرياضية <i class="fa fa-arrow-left"></i></a>
          </div>
          <div class="mt-2" *ngIf="!loading">
            <form [formGroup]="classForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">اسم النشاط </label>
                    <input type="text" formControlName="name" class="form-control" id="name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="price">السعر</label>
                    <input type="number" formControlName="price" class="form-control" id="price">
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="sessions">عدد الحصص التدريبية</label>
                    <input type="number" formControlName="sessions" class="form-control" id="sessions">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="capacity">عدد المقاعد المتاحة</label>
                    <input type="number" formControlName="capacity" class="form-control" id="capacity">
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="start_date">تاريخ بداية النشاط</label>
                    <input type="date" formControlName="start_date" class="form-control" id="start_date">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="start_date">أيام الأسبوع</label>
                    <ng-multiselect-dropdown
                      [placeholder]="'اختر أيام الأسبوع لهذه النشاط'"
                      [settings]="dropdownSettings"
                      [data]="weekdays"
                      [(ngModel)]="selectedItems"
                      formControlName="days"
                      (onSelect)="onItemSelect($event)"
                      (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                  </div>
                </div>
                <!-- <div class="col-md-6">
                  <div class="form-group">
                    <label for="end_date">تاريخ نهاية النشاط</label>
                    <input type="date" formControlName="end_date" class="form-control" id="end_date">
                  </div>
                </div> -->
              </div>
              <div class="row mt-4">
                <div class="col-md-12">
                  <div class="form-group">
                    <button class="btn btn-primary" (click)="addClass()">إضافة <i class="fa fa-save"></i></button>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-12">
                  <div *ngIf="loading" class="text-center">
                    <img width="50px" src="assets/images/login/submit_loading.gif" alt="">
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>