h5{
    font-weight: bold;
}

h5 i{
    font-size: 30px;
    margin-right: 10px;
    float: left;
    color: #6950fd;
}

.nav-tabs .nav-link.active a{
    color: #6950fd !important;
    font-weight: bolder !important;
}